.upg {
	min-height: 100px;
	width: 120px;
	border-radius: 8%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.2);
	font-size: 10px;
	font-family: "fonts/cabin.ttf", monospace;
}

.achievement {
	height: 70px;
	width: 90px;
	border-radius: 15%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	color: white;
	text-shadow: 0 0 2px #000000;
	font-family: "fonts/cabin.ttf", monospace;
}
.achievement:hover {
	box-shadow: 0 0 10px var(--points);
	z-index: 7;
	font-family: "fonts/cabin.ttf", monospace;
}

.achievement-wrapper {
    margin: 4px; /* Adjust the margin value according to your preference */
}


.buyable {
	height: 130px;
	width: 300px;
	border-radius: 5%;
	border: 3px solid;
	border-color: rgba(0, 0, 0, 0.2);
	font-size: 10px;
	position:relative;
	font-family: "fonts/cabin.ttf", monospace;
}

.milestone {
	width: 100%;
	min-width: 120px;
	padding-left: 10px;
	padding-right: 10px;
	height: 50px;
	background-color: #bf8f8f;
	border: 4px solid;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
	font-family: "fonts/cabin.ttf", monospace;
}

.milestoneDone {
	width: 100%;
	min-width: 120px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "fonts/cabin.ttf", monospace;
	height: 50px;
	background-color: #77bf5f;
	border: 4px solid;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
}

.challenge {
	background-color: #bf8f8f;
	position: relative;
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
	width: 300px;
	height: 300px;
	font-size: 15px;
	border-radius: 33.33%;
	font-family: "fonts/cabin.ttf", monospace;
}

.challenge.done {
	background-color: #77bf5f;
	font-family: "fonts/cabin.ttf", monospace;
}

.challenge.canComplete {
	background-color: #ffbf00;
	font-family: "fonts/cabin.ttf", monospace;
}

/* Infoboxes */
.story {
    width: 600px;
    max-width: 95%;
    border-bottom: solid 4px;
    border-radius: 8px;
    margin-bottom: 8px;
    text-align: left;
	font-family: "fonts/cabin.ttf", monospace;
}

.story-title {
    text-align: left;
    font-size: 24px;
    color: black;
    cursor: pointer;
    border: none;
    padding: 2px;
    border-radius: 8px 8px 0 0;
	font-family: "fonts/cabin.ttf", monospace;
}

.story-toggle {
    border: none;
    background: black;
    color: white;
    font-size: 20px;
    pointer-events: none;
    width: 1em;
    display: inline-block;
	font-family: "fonts/cabin.ttf", monospace;
}

.story-text {
	padding: 2px;
    border: solid 4px;
    border-color: inherit;
    border-radius: inherit;
    border-top-left-radius: 0;
    margin-bottom: -2px;
	font-family: "fonts/cabin.ttf", monospace;
}


/* Tiles are gridables */
.tile {
	height: 80px;
	width: 80px;
	border-radius: 15%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	overflow: visible;
	font-family: "fonts/cabin.ttf", monospace;
}

.tile.can:hover {
	box-shadow: 0 0 10px var(--points);
	transform: scale(1.1, 1.1);
	z-index: 7;
}

.upgBig {
	height: 200px;
	width: 200px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-family: "fonts/cabin.ttf", monospace;
}

/* Used for respec button and similar */
.longUpg {
	height: 50px;
	width: 120px;
	background: var(--points);
	border-radius: 50%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	font-family: "fonts/cabin.ttf", monospace;
}

.smallUpg {
	height: 40px;
	width: 40px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-family: "fonts/cabin.ttf", monospace;
}

